<?xml version="1.0" encoding="utf-8"?>
<Wix xmlns="http://schemas.microsoft.com/wix/2006/wi">
    <Product Id="da828fb8-58a5-40e5-b772-bb7addd964d4" Name="Omm Beta" Language="1033" Version="1.0.0" Manufacturer="Omm" UpgradeCode="d38d60c2-d01b-4f58-ae40-3e0067ae3656">
        <Package InstallerVersion="200" Compressed="yes" InstallScope="perMachine" />
        <WixVariable Id="WixUILicenseRtf" Value="LICENSE.rtf" />
        <WixVariable Id="WixUIBannerBmp" Value="banner.bmp" />
        <WixVariable Id="WixUIDialogBmp" Value="background.bmp" />
        <UI Id="OmmSetup">
            <UIRef Id="WixUI_Mondo" />
            <UIRef Id="WixUI_ErrorProgressText" />

            <DialogRef Id="ErrorDlg" />
            <DialogRef Id="FatalError" />
            <DialogRef Id="FilesInUse" />
            <DialogRef Id="MsiRMFilesInUse" />
            <DialogRef Id="PrepareDlg" />
            <DialogRef Id="ProgressDlg" />
            <DialogRef Id="ResumeDlg" />
            <DialogRef Id="UserExit" />
            <DialogRef Id="WelcomeDlg" />
            <Publish Dialog="WelcomeDlg" Control="Next" Event="NewDialog" Value="PrepareDlg" Order="0" />
            <Publish Dialog="LicenseAgreementDlg" Control="Next" Event="NewDialog" Value="LicenseAgreementDlg" Order="1">LicenseAccepted = "1"</Publish>
            <Publish Dialog="ExitDialog" Control="Finish" Event="EndDialog" Value="Return" Order="2" />
            <Property Id="ARPNOMODIFY" Value="1" />
        </UI>
        <UIRef Id="WixUI_Common" />
        <Media Id="1" Cabinet="product.cab" EmbedCab="yes" />
        <Directory Id="TARGETDIR" Name="SourceDir">
            <Directory Id="INSTALLDIR" Name="Omm">
                <Directory Id="STDLIB_DIR" Name="stdlib" />
            </Directory>
        </Directory>
        <DirectoryRef Id="INSTALLDIR">
            <Component Id="files" Guid="e87e3efa-4cb5-4bdb-8ba0-fa2080a17ffc">
                <File Id="omml.exe" Source="..\..\..\src\omml.exe" />
                <File Id="omm.ps1" Source="..\..\..\src\omm.ps1" />
                <File Id="oat.ps1" Source="..\..\..\src\oat.ps1" />
            </Component>
        </DirectoryRef>
        <DirectoryRef Id="STDLIB_DIR">
            <Component Id="stdlib" Guid="1b28d4ea-274f-4d70-b8ba-fd77591f66ff">
                <File Id="lib.oat" Source="..\..\..\src\stdlib\lib.oat" />
            </Component>
        </DirectoryRef>
        <DirectoryRef Id="TARGETDIR">
          <Component Id="env" Guid="e2bed217-4fc1-497c-b029-8d0de51a1531">
            <Environment Id="PATH" Name="PATH" Value="[INSTALLDIR]" Permanent="yes" Part="last" Action="set" System="yes" />
          </Component>
        </DirectoryRef>
        <Feature Id="Omm" Title="Omm" Level="1">
            <ComponentRef Id="files" />
            <ComponentRef Id="env" />
            <ComponentRef Id="stdlib" />
        </Feature>
    </Product>
</Wix>
