body, html {
  height: 100%;
  width: 100%;
}
.sidebar {
  height: 100%;
  width: 170px;
  position: fixed;
  z-index: 1;
  top: 0;
  left: 0;
  background-color: #333;
  overflow-x: hidden;
  padding-top: 10px;
  overflow: hidden;
  direction: rtl;
  overflow-y: scroll;
}
.sidebar::-webkit-scrollbar {
    width: 0px;
    background: transparent;
}
.sub-sect::before {
  content: '- ';
}
.sidebar a:not(.sub-sect) {
  padding: 8px 8px 8px 32px;
  text-decoration: none;
  font-size: 18px;
  color: white;
  display: block;
  font-weight: bold;
  font-family: Helvetica;
}
.sidebar a:not(#logoA):hover {
  background-color: black;
  text-decoration: none;
  cursor: pointer;
}
.sub-sect {
  color: white;
  padding: 8px 8px 8px 62px;
  text-decoration: none;
  font-size: 18px;
  display: block;
  font-weight: bold;
  font-family: Helvetica;
}
#logo {
  height: 80px;
  width: 120px;
  position: absolute;
  top: -2px;
  left: 16px;
}
#logoA {
  padding: 0;
  text-align: center;
  position: relative;
  height: 100px;
}
.body {
  position: absolute;
  right: 0;
  top: 0;
  width: calc(100% - 170px);
  height: 100%;
  padding: 10px 40px;
}
#title {
  font-weight: bold;
  font-family: Helvetica;
}
#text {
  width: 100%;
  height: 100%;
  font-family: Helvetica;
  font-weight: bold;
  font-size: 18px;
}
#text * {
  font-weight: bold;
  font-family: Helvetica;
}
.indent {
  margin-left: 20px;
}
.text-omm {
  background: #2d2d2d;
  min-width: 600px;
  border-radius: 5px;
  color: #969696;
  font-size: 16px;
  padding: 10pt 10pt;
}
.text-omm span {
  font-size: 16px;
  font-family: 'Source Code Pro';
}

/*    Syntax Highlighting    */
.keyword {
  color: #a568a6;
}
.operator {
  color: #67cdcc;;
}
.number {
  color: #f08d49;
}
.string {
  color: #5ecc50;
}
.comment {
  color: #636363;
}
.method {
  color: #66a1ff;
}
.var {
  color: #969696;
}
.boolean {
  color: #d97229;
}
