.menu-item {
  width: 9%;
}
.fas, .fab {
  padding-bottom: 10px;
}

/*Anklada Font*/
@font-face {
  font-family: 'anklada';
  src: url(anklada.ttf) format('truetype');
}
/**************/

#omm {
  font-weight: bolder;
  font-style: italic;
  font-size: 100px;
  font-family: 'anklada', monospace;
}
