.fas, .fab {
  padding-bottom: 10px;
}

/*Anklada Font*/
@font-face {
  font-family: 'anklada';
  src: url(anklada.ttf) format('truetype');
}
/**************/

.omm-icon {
  background-image: url('Logos/new/logo1@2x.png');
  background-size: 100%;
  background-repeat: no-repeat;
  height: 150px;
  width: 150px;
  display: block;
}
#omm {
  font-weight: bolder;
  font-size: 100px;
  font-family: 'anklada', monospace;
  color: #c9a308;
  z-index: 1;

  /*prevent highlighting*/
  -moz-user-select: -moz-none;
  -khtml-user-select: none;
  -webkit-user-select: none;
  -ms-user-select: none;
  user-select: none;
}
#omm-body {
  font-family: 'anklada', monospace;
  color: white;
  z-index: 1;
  font-size: 20px;
}
#index-body {
  background-color: #1f1f1f;
  height: 40%;
  padding-left: 5%;
  margin-bottom: 3%;
}
#index-background {
  opacity: .3;
}
.ui.download-btn {
  background-color: #c9a308;
  font-family: 'anklada', monospace;
  color: white;
}
.ui.download-btn:hover {
  background-color: #9e8006;
  color: #cccaca;
}
#prenav {
  position: sticky;
  margin-top: 0;
  margin-bottom: 14px;
  border-radius: 0;
  width: 100%;
}
#navbar {
  border-radius: 0;
}
#index-background-div {
  position: absolute;
  top: 12%;
  left: 50%;
}
#features {
  margin: auto;
  width: 60%;
}
.feature {
  text-align: center;
}
.feature-head {
  size: 30px;
  font-weight: bolder;
}
.feature-ico {
  color: white;
}
.description {
  size: 30px;
  font-weight: bold;
}
body {
  overflow: none;
  padding-bottom: 20px;
  -ms-overflow-style: none;
  scrollbar-width: none;
}
body::-webkit-scrollbar {
  display: none;
}
#downloads {
  margin: auto;
  width: 60%;
  text-align: center;
  color: white;
  font-weight: bold;
  font-size: 16px;
}
#download_version:hover {
  cursor: pointer;
}
#prefoot {
  margin-bottom: 0;
  margin-top: 14px;
  border-radius: 0;
  width: 100%;
}
#footer {
  position: relative;
  bottom: 0;
  width: 100%;
  height: 30%;
  border-radius: 0;
  padding: 10px;
}
#copyright {
  text-decoration: none;
  color: white;
  font-size: 16px;
  margin-left: 2%;
}
#footer-background {
  height: 10%;
  width: 10%;
}
